<div>
  <mat-card class="prediccion-card">
    <mat-card-header>
      <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div class="d-flex justify-content-center mb-2 w-100">
        <h1>Ingresar Predicción</h1>
      </div>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="prediccionForm">
        <div class="form-group">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Cuadro Ganador</mat-label>
            <mat-select formControlName="equipo_ganador" name="equipo_ganador" required>
              <mat-option [value]="partido!.id_local">{{ partido!.local }}</mat-option>
              <mat-option [value]="partido!.id_visitante">{{ partido!.visitante }}</mat-option>
            </mat-select>
            <mat-error
              *ngIf="prediccionForm.controls['equipo_ganador'].invalid && prediccionForm.controls['equipo_ganador'].touched">
              Debes seleccionar un cuadro ganador.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Goles {{partido!.local}}</mat-label>
            <input matInput type="number" formControlName="result_local" required>
            <mat-error
              *ngIf="prediccionForm.controls['result_local'].invalid && prediccionForm.controls['result_local'].touched">
              Debes ingresar los goles del equipo local.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Goles {{partido!.visitante}}</mat-label>
            <input matInput type="number" formControlName="result_visitante" required>
            <mat-error
              *ngIf="prediccionForm.controls['result_visitante'].invalid && prediccionForm.controls['result_visitante'].touched">
              Debes ingresar los goles del equipo visitante.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group d-flex justify-content-center">
          <button mat-raised-button (click)="guardarPrediccion()" class="btnConfirmar" [disabled]="prediccionForm.invalid">Guardar
            Predicción</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>