@import '../../../styles';

.result-estudiante {
    display: flex;
    justify-content: center;
    align-items: start;
    border-radius: 10px;
}

.result-card {
    box-shadow: 0px 1px 5px rgb(103, 103, 103);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.titulo {
    position: absolute;
    top: 8%;
}

.contenido {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 70%;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgb(103, 103, 103);
    padding: 5%;
    background-color: $secondary-color;
}

span {
    margin: 0 10px;
    font-weight: bold;
}

.tabla {
    display: flex;
    justify-content: center;
    align-items: start;
    max-height: 600px;
    overflow-y: auto;
    margin-bottom: 20px;
    border-radius: 10px 0 0 10px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #FFFF;
    border-radius: 0 10px 10px 0;

}

::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 20px;
}
 