<div class="container">
  <mat-tab-group>
    <mat-tab label="Reglamento">
      <div class="tab-content">
        <h1>Reglamento</h1>
        <p>
          Todos los alumnos de la Universidad Católica del Uruguay (UCU) pueden registrarse para participar en la
          PencaUCU.
          <br>
          Durante el registro, los participantes deberán predecir el campeón y subcampeón de la Copa. Estas predicciones
          no podrán ser modificadas posteriormente.
          <br>
          <br>
          Los participantes pueden ingresar y/o modificar sus predicciones para los resultados de los partidos en
          cualquier momento antes de una hora del inicio del partido.
          <br>
          Solo se permitirá una predicción por partido por cada participante.
          <br>
          <br>
          Cada día, antes del primer partido de la etapa, se enviará una notificación a los participantes para
          recordarles que ingresen sus predicciones.
        </p>
      </div>
    </mat-tab>

    <mat-tab label="Forma de Puntuación">
      <div class="tab-content">
        <h1>Forma de Puntuación</h1>
        <p>
        <ul>
          <p class="fw-bold fs-6">Resultados Exactos</p>
          <li>4 puntos por acertar el resultado exacto de un partido.</li>
          <br>
          <p class="fw-bold fs-6">Resultados Correctos</p>
          <li>2 puntos por cada predicción de resultado correcto del partido. Un resultado correcto se considera cuando
            se acierta el ganador, pero no con el marcador exacto.</li>
          <br>
          <p class="fw-bold fs-6">Predicciones de Campeón y subcampeón</p>
          <li>10 puntos adicionales a los participantes que acierten el campeón de la Copa.</li>
          <li>5 puntos adicionales a los participantes que acierten el subcampeón de la Copa.</li>
        </ul>
      </div>
    </mat-tab>

    <mat-tab label="Premios">
      <div class="tab-content">
        <h1>Premios</h1>
        <p>
          Los premios serán entregados a los 3 participantes con mayor puntaje al finalizar la Copa.
          <br>
          <br>
        <ul>
          <li>1er puesto: Un año gratis en la UCU.</li>
          <li>2do puesto: Remera autografiada por los jugadores de la selección.</li>
          <li>3er puesto: Curso gratis de Base de Datos.</li>
        </ul>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>