<div class="container">
    <mat-tab-group>
      <mat-tab label="Reglamento">
        <div class="tab-content">
          <h1>Reglamento</h1>
          <p>
            Aquí va el texto del reglamento. Puedes colocar toda la información relevante sobre las reglas y normativas del concurso.
          </p>
        </div>
      </mat-tab>
  
      <mat-tab label="Forma de Puntuación">
        <div class="tab-content">
          <h1>Forma de Puntuación</h1>
          <p>
            Aquí describe cómo se calcula y otorga la puntuación en el concurso. Incluye ejemplos si es necesario para clarificar.
          </p>
        </div>
      </mat-tab>

      <mat-tab label="Premios">
        <div class="tab-content">
          <h1>Premios</h1>
          <p>
            Enumera los premios disponibles y explica cómo se adjudican. Puedes incluir información sobre las categorías de premios y los criterios para ganarlos.
          </p>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  