<div class="bg-primary-subtle h-100 p-0">
    <h1>Copa America 2024</h1>
    <mat-divider></mat-divider>
    <mat-list role="list">
        <mat-list-item role="listitem" class="p-0">
            <button mat-button class="btn-menu" routerLink="/proxPartidos">Próximos Partidos</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem" class="p-0">
            <button mat-button class="btn-menu" routerLink="/partidosPasados">Partidos Pasados</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem" class="p-0">
            <button mat-button class="btn-menu" routerLink="/resultados">Tabla de Resultados</button>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
</div>