<div class="banner">
    <img src="https://www.ucu.edu.uy/plantillas/images/logo_ucu.svg" alt="">
    <h2>Penca Copa America 2024</h2>
    <div class="logout">
        <a (click)="logout()">Cerrar Sesión</a>
    </div>
</div>
<div class="container">
    <mat-tab-group>
        <mat-tab label="Partidos">
            <div class="titulo">
                <h1>Partidos Pasados</h1>
            </div>
            <mat-grid-list cols="3" rowHeight="2:1" class="grid">
                <ng-container *ngFor="let partido of partidos">
                    <mat-grid-tile>
                        <mat-card appearance="outlined" class="partido">
                            <mat-card-content>
                                <div class="d-flex justify-content-center">
                                    <span class="pb-1">{{ partido.fecha | date:'dd/MM/yyyy HH:mm' }}</span>
                                </div>
                                <mat-divider></mat-divider>
                                <div class="d-flex justify-content-center p-2">
                                    <!-- <img [src]="partido.banderaLocal" alt="{{ partido.local }} bandera" class="bandera"> -->
                                    <span class="p-2 fw-bold">{{ partido.local }}</span>
                                    <span class="p-2 fw-bold fs-6" *ngIf="partido.result_local !== null">{{ partido.result_local }}</span>
                                    <span class="p-2"> vs </span>
                                    <span class="p-2 fw-bold fs-6" *ngIf="partido.result_visitante !== null">{{ partido.result_visitante }}</span>
                                    <span class="p-2 fw-bold">{{ partido.visitante }}</span>
                                    <!-- <img [src]="partido.banderaVisitante" alt="{{ partido.visitante }} bandera" class="bandera"> -->
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button mat-raised-button class="prediccion" *ngIf="partido.result_local == null"
                                        [routerLink]="['/resultado', partido.id_partido]">Ingresar Resultado</button>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>
                </ng-container>
            </mat-grid-list>
        </mat-tab>

        <mat-tab label="Ingresar Partido">
            <div>
                <mat-card class="partido">
                    <mat-card-header class="d-flex justify-content-center mb-2">
                        <h1>Ingresar Partido</h1>
                    </mat-card-header>
                    <mat-card-content>
                        <form [formGroup]="partidoForm">
                            <mat-form-field class="full-width">
                                <mat-label>Fecha</mat-label>
                                <input matInput type="date" formControlName="fecha" required>
                                <mat-error
                                    *ngIf="partidoForm.get('fecha')!.invalid && partidoForm.get('fecha')!.touched">
                                    La fecha es requerida.
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>Hora</mat-label>
                                <input matInput type="time" formControlName="hora" required>
                                <mat-error
                                    *ngIf="partidoForm.get('hora')!.invalid && partidoForm.get('hora')!.touched">
                                    La hora es requerida.
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>Lugar</mat-label>
                                <input matInput formControlName="lugar" required>
                                <mat-error
                                    *ngIf="partidoForm.get('lugar')!.invalid && partidoForm.get('lugar')!.touched">
                                    El lugar es requerido.
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>Equipo Local</mat-label>
                                <mat-select formControlName="equipoLocal" required>
                                    <mat-option *ngFor="let equipo of equipos" [value]="equipo.id_equipo">{{ equipo.nombre }}</mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="partidoForm.get('equipoLocal')!.invalid && partidoForm.get('equipoLocal')!.touched">
                                    Debes seleccionar un equipo local.
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>Equipo Visitante</mat-label>
                                <mat-select formControlName="equipoVisitante" required>
                                    <mat-option *ngFor="let equipo of equipos" [value]="equipo.id_equipo">{{ equipo.nombre }}</mat-option>
                                </mat-select>
                                <mat-error
                                    *ngIf="partidoForm.get('equipoVisitante')!.invalid && partidoForm.get('equipoVisitante')!.touched">
                                    Debes seleccionar un equipo visitante.
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>Fase</mat-label>
                                <mat-select formControlName="fase" required>
                                    <mat-option *ngFor="let fase of fases" [value]="fase.id_fase">{{ fase.nombre }}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="partidoForm.get('fase')!.invalid && partidoForm.get('fase')!.touched">
                                    Debes seleccionar una fase.
                                </mat-error>
                            </mat-form-field>
                            <mat-error *ngIf="partidoForm.hasError('equiposIguales')">
                                El equipo local y el equipo visitante no pueden ser el mismo.
                              </mat-error>
                            <div class="d-flex justify-content-center">
                                <button mat-raised-button class="btnConfirmar" (click)="guardarPartido()"
                                    [disabled]="partidoForm.invalid">
                                    Guardar
                                </button>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>