<div class="h-100 p-0 contenedor">
    <div class="d-flex justify-content-center">
        <img class="mt-3" src="https://www.ucu.edu.uy/plantillas/images/logo_ucu.svg" alt="">
    </div>
    <h2>Penca Copa America 2024</h2>
    <mat-list role="list">
        <mat-divider class="divider"></mat-divider>
        <mat-list-item role="listitem" class="p-0">
            <button mat-button class="btn-menu" routerLink="/proxPartidos">Próximos Partidos</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem" class="p-0">
            <button mat-button class="btn-menu" routerLink="/partidosPasados">Partidos Pasados</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem" class="p-0">
            <button mat-button class="btn-menu" routerLink="/resultados">Tabla de Resultados</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem" class="p-0">
            <button mat-button class="btn-menu" routerLink="/reglamento">Reglamento</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem" class="p-0">
            <button mat-button class="btn-menu" routerLink="/perfil">Perfil</button>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
    <div class="logout">
        <a (click)="logout()">Cerrar Sesión</a>
    </div>

</div>